#button{
    background-color: #fbf8f9;
    font: normal bolder 20px 'Arial','Helvetica','sans-serif';
    color: #d63772;
    text-align: center;
    width: 80px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    margin-left: 600px;
    padding: 5px;
    box-shadow: 5px 0px 5px #d63772; 
    
}

#button:hover{
    transform: scale(1.5);   
    transition: trasform 200ms linear;
}

  