
#box{
    text-align: center;
    background-image:linear-gradient(to right ,  #022B67 , #040D21 , #3D1C45);
    width: 630px;
    height: 130px;
    box-shadow: 5px 5px 10px #c5527c;
    margin: 100px 400px;
    padding: 10px 0px;
   
}
#box h1{
    margin-top: 15px;
    color:aqua;
    

}
#box1{    
    background-image:linear-gradient(to right ,  #131001 , #0f2147 , #855691);
    width: 150px;
    height: 75px;
    text-align: center;
    box-shadow: 5px 5px 10px #68278d;
    margin-left: 610px;
    margin-bottom: 50px;
    padding: 5px 0px;

}