
#box{
    text-align: center;
    background-image:linear-gradient(to right ,  #022B67 , #040D21 , #3D1C45);
    width: 630px;
    height: 130px;
    box-shadow: 5px 5px 10px #c5527c;
    margin: auto;
    padding: 10px 0px;
    margin-top: 50px;
   
}

#box h1{
   
    color:aqua;
    
    
}
#box1{ 
    display: inline-block;
    background-image:linear-gradient(to right ,  #131001 , #0f2147 , #855691);
    width: 150px;
    height: 65px;
    text-align: center;
    box-shadow: 5px 5px 10px #c5527c;
    margin-bottom:50px;
    margin-right: 50px;
    padding: 5px 0px;


}
#div_box{
    display: flex;
    justify-content:center;
    margin-top : 50px;
    
    
   
   
}